<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="repository.ParticipantMapper">
    <select id="getParticipantsList" parameterType="Long" resultType="domain.Participant">
        SELECT participant.board_id, user_id, user.nickname, board.max_participants
        FROM participant
            LEFT JOIN user ON participant.user_id=user.id
            LEFT JOIN board ON participant.board_id=board.board_id
        WHERE participant.board_id=#{boardId} AND participant.deleted=0
    </select>

    <select id="countParticipants" resultType="Integer" parameterType="Long">
        SELECT count(*) FROM participant WHERE board_id=#{boardId} AND deleted=0
    </select>

    <select id="getParticipant" parameterType="domain.Participant" resultType="domain.Participant">
        SELECT *
        FROM participant
        WHERE board_id=#{board_Id} AND user_id=#{user_Id}
    </select>

    <select id="isDeleted" parameterType="domain.Participant" resultType="Integer">
        SELECT participant.deleted
        FROM participant
        WHERE board_id=#{board_Id} AND user_id=#{user_Id}
    </select>

    <insert id="insertParticipant" parameterType="domain.Participant">
        INSERT INTO participant(board_id, user_id) VALUES(#{board_Id}, #{user_Id})
    </insert>

    <delete id="deleteParticipant" parameterType="domain.Participant">
        UPDATE participant
        SET
            deleted=1
        WHERE board_id=#{board_Id} AND user_id=#{user_Id}
    </delete>

    <delete id="deleteAllParticipantInBoard" parameterType="Long">
        UPDATE participant
        SET
            deleted=1
        WHERE board_id=#{board_Id}
    </delete>

    <update id="restore" parameterType="domain.Participant">
        UPDATE participant
        SET
            deleted=0
        WHERE board_id=#{board_Id} AND user_id=#{user_Id}
    </update>
</mapper>