<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="repository.UserMapper">
    <select id="test" resultType="String">
        SELECT email FROM user WHERE id=1
    </select>

    <select id="getUserByEmail" resultType="domain.User" parameterType="String">
        SELECT * FROM user WHERE email=#{email}
    </select>

    <select id="getUserById" parameterType="Long" resultType="domain.User">
        SELECT * FROM user WHERE id=#{id}
    </select>


    <insert id="insertUser" parameterType="domain.User">
        INSERT INTO user(email, password, name, nickname, phone, join_date)
        VALUES(#{email}, #{password}, #{name}, #{nickname}, #{phone}, DEFAULT)
    </insert>

</mapper>